/*
|--------------------------------------------------------------------------
| UItoTop jQuery Plugin 1.1
| http://www.mattvarone.com/web-design/uitotop-jquery-plugin/
|--------------------------------------------------------------------------
*/

#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	right:50%;
	bottom:143px;
	cursor:pointer;
	overflow:hidden;
	width:41px;
	height:41px;
	border:none;
	text-indent:-999px;
	z-index:20;
	background:url(/assets/template/ui.totop.gif) no-repeat left -41px;
}

#toTopHover {
	background:url(/assets/template/ui.totop.gif) no-repeat left 0;
	width:41px;
	height:41px;
	display:block;
	overflow:hidden;
	float:left;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}

#toTop:active, #toTop:focus {
	outline:none;
}

