<div class="main">
  <div class="head-box2">
    <a class="logo" href="index.html">logo</a><span class="text1">café, cultura e negócios</span>
    <div class="head-box1">
      <!-- <form id="search-form" method="get" enctype="multipart/form-data">
        <fieldset>
          <div class="search-form">         
            <input type="text" name="search" />
            <a href="#" onClick="document.getElementById('search-form').submit()"></a>                  
          </div>
        </fieldset>
      </form> -->
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
  <%= render partial: 'shared/top_menu' %>
</div>
<%= render partial: 'welcome/banners' if current_page?(root_path) %>