<nav>
  <ul class="sf-menu">
    <li class="<%='active' if current_page?(root_path) %>"><a href="<%=root_path%>"><strong>Página<i>inicial</i></strong></a></li>
    <li><a href="index-1.html"><strong>Minas Coffee<i>about export</i></strong></a>
      <ul>
        <li><a href="more.html">History</a></li>
        <li><a href="more.html">News</a>
          <ul>
            <li><a href="more.html">Latest</a></li>
            <li><a href="more.html">Archive</a></li>
          </ul>
        </li>
        <li><a href="more.html">Resources</a></li>
      </ul>
    </li>
    <li class="<%='active' if controller.controller_name == 'products' %>"><a href="<%= products_path %>"><strong>Produtos<i>compre aqui</i></strong></a></li>
    <li class="<%='active' if current_page?(page_path('conheca-nos')) %>"><a href="<%= page_path('conheca-nos') %>"><strong>Conheça-nos<i>fique a vontade</i></strong></a></li>
    <li class="<%='active' if controller.controller_name == 'posts' %>"><a href="<%= posts_path %>"><strong>blog<i>novidades</i></strong></a></li>
    <li class="last2 <%='active' if current_page?(talk_to_us_path) %>"><a href="<%= talk_to_us_path %>"><strong>Fale conosco<i>contato direto</i></strong></a></li>
  </ul>
  <div class="clear"></div>
</nav>