<div class="slider-bg">
  <div class="slider">
    <ul class="items">
      <%= big_banners.each do |banner| %>
      <li><%= image_tag banner.image.url(:big) %>
        <div class="banner">
          <div class="banner-head"><%= banner.title %></div>
          <div class="banner-box">
            <%= banner.description.html_safe %>
          </div>
        </div>
      </li>
      <% end -%>
    </ul>
    <a href="#" class="prev"></a><a href="#" class="next"></a> 
  </div>                  
</div>