<div class="wrapper p8">
  <article class="grid_12">
    <h2 class="main_h2 p10">Veja o que temos pra você</h2>
    <% medium_banners.each do |banner| %>
    <article class="grid_4 <%=cycle('alpha','','omega')%>">
      <div class="page1-box1">
        <figure class="page1-img1"><%= image_tag banner.image.url(:medium) %></figure>
        <strong><%= banner.title %></strong>
        <p class="p7"><%= banner.description %></p>
        <a class="button2" href="<%= banner.url %>">mais...</a>
        <div class="clear"></div>
      </div>
    </article>
    <% end -%>
  </article>
</div>
<div class="wrapper margin-bot">
  <article class="grid_5">
    <h2 class="main_h2">Not brazilian?</h2>
    <div class="page1-box4">
     <p>You work with coffee or have an interest in our work? Know then the Minas Coffee Export.</p>
     <ul class="list2">
      <li><a href="#">Consulting and exchange experiences</a></li>
      <li><a href="#">Coffee exports</a></li>
      <li><a href="#">You know the beauty of the forests of Minas Gerais</a></li>
    </ul>
  </div>
</article>
<article class="grid_6 push_1">
  <h2 class="main_h2">últimas notícias</h2>
  <div class="posrel">
    <div class="carousel">
      <ul>
        <% @posts.in_groups_of(2,false).each do |post_grouped| %>
        <li>
          <% post_grouped.each do |post| %>
          <div class="page1-box5 <%= cycle('','p11')%>">
            <div class="inner1">
              <%= post.created_at.day %>
              <span><%= month_name post.created_at.month %></span>
            </div>
            <div class="extra-wrap">
              <a class="link2" href="<%= post_path post %>"><%= post.title %></a>
              <p><%= post.short_description %></p>
            </div>
          </div>
          <% end -%>
          
        </li>
        <% end -%>
      </ul>
    </div>
    <a href="#" class=" car-button next1" data-type="prevPage"></a>
    <a href="#" class="car-button prev1" data-type="nextPage"></a>
  </div>
</article>
</div>
<!-- <div class="wrapper">
  <article class="grid_12">
    <h2 class="main_h2">parceiros</h2>
    <a href="more.html"><figure class="page1-img2"><img src="/assets/template/page1-img4.jpg" alt=""></figure></a>
    <a href="more.html"><figure class="page1-img2"><img src="/assets/template/page1-img5.jpg" alt=""></figure></a>
    <a href="more.html"><figure class="page1-img2"><img src="/assets/template/page1-img6.jpg" alt=""></figure></a>
    <a href="more.html"> <figure class="page1-img2 p12"><img src="/assets/template/page1-img7.jpg" alt=""></figure></a>
  </article>
</div> -->