<div class="wrapper">
    <article class="grid_12">
        <h2 class="main_h2 p10 margin-bot"><%= @post.title %></h2>
        <div class="page5-box1 indent-bot3">
            <div class="page5-box2 p20">
                <%= @post.content.html_safe %>
            </div>
        </div>
    </article>
</div>