<div class="wrapper">
  <article class="grid_12">
    <h2 class="main_h2 p10">Nossos produtos</h2>
    <% @products.each do |product| %>
    <article class="grid_4 p5 <%=cycle('alpha','','omega')%>">
      <div class="page1-box1">
        <figure class="page1-img1"><a href="<%= product_path product %>" class="pro_image_style3"><%= image_tag product.image.url(:normal) %></a></figure>
        <strong><%= product.name %></strong>
        <a class="button2" href="<%= product_path product %>">detalhes</a>
        <div class="clear"></div>
      </div>
    </article>
    <% end -%>
                   
  </article>
</div>
