<div class="wrapper">
  <article class="grid_8">
    <h2 class="main_h2 p10 margin-bot"><%= @product.name %></h2>
    <div class="page5-box1 indent-bot3">
      <div class="page5-box2 p20">
        <figure class="page5-img1"><a href="javascript:;" class="pro_image_style3"><%= image_tag @product.image.url(:normal) %></a></figure>
        <div>
          <%= @product.description.html_safe %>
        </div>
      </div>
      <p style="margin-left:8px" ><a class="button2" href="<%= add_to_cart_path @product %>">Adicionar ao carrinho</a></p>
    </div>
  </article>
  <article class="grid_4">
    <h2 class="main_h2 p10">Especificações</h2>
    <ul class="list2">
      <li><a href="#">Peso: <%= @product.weight %> gramas</a></li>
      <% if @product.special_price %>
      <li><a href="#">Valor comum: <%= @product.price.real_contabil %></a></li>
      <li><a href="#">Valor promocional: <%= @product.special_price.real_contabil %></a></li>
      <% else %>
      <li><a href="#">Valor: <%= @product.price.real_contabil %></a></li>
      <% end -%>
    </ul>
  </article>
</div>

<% if @product.product_images.count > 1 %>
<div class="wrapper">
  <div class="container_12">
    <div class="pro_wrapper">
      <% @product.product_images.each do |product_image| %>
      <div class="grid_3">
        <div class="pro_wrapper pro_pad_port">
          <a href="<%=product_image.image.url(:big)%>" data-gal="prettyPhoto[gallery1]" class="pro_image_style3 lightbox-image" href="YourBigImage.jpg"><%= image_tag product_image.image.url(:medium), alt: '' %></a>
        </div>
      </div>
      <% end -%>
    </div>
  </div>
</div>
<% end -%>