<!DOCTYPE html>
<html>
<head>
  <title>Café das Matas</title>
  <meta charset="utf-8">
  <meta name="description" content="Your description">
  <meta name="keywords" content="Your keywords">
  <meta name="author" content="Your name">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <!--[if lt IE 8]>
    <div style=' clear: both; text-align:center; position: relative;'>
    <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100//assets/template/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a>
    </div>
    <![endif]-->
  <!--[if lt IE 9]>
    <%= javascript_include_tag "template/html5" %>
    <%= stylesheet_link_tag    "template/ie", :media => "all" %>
    <![endif]-->
    <%= csrf_meta_tags %>
  </head>
  <body id="page1">
    <div class="bg">
      <!--==============================header=================================-->
      <header>
        <%= render partial: 'shared/header' %>
      </header>

      <!--==============================content================================-->
      <section id="content">
        <div class="main">
          <div class="container_12">
            <%= yield -%>
          </div>
        </div>
      </section>

      <!--==============================footer=================================-->
      <footer>
        <%= render partial: 'shared/footer' %>
      </footer>
    </div>
  </body>
</html>